<div class="main">
<h1>Djobs</h1>
<p>Le site d'emploi simple, <u>très simple</u></p>
</div>

<div class="container">
	<div class="row">
		<% @jobs.each do |job| %>
		<div class="job col-xs-6 col-sm-3">
		<h3 class="created">Paru le <%= job.created_at %></h3>
		<h2><%= link_to job.title, job.url %></h2>
		<h2><%= job.company %></h2>
		</div>
		<% end %>
	</div>
</div>

<div class="link">
<p><%= link_to "Ajoutez un job", new_job_path %></p>
<p><%= paginate @jobs %></p>
</div>
